.foot {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
}

.foto-container {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    background-color: var(--ion-color-primary);
    text-align: center;
}