.foot {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
}

.foto-container {
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10vw;
    margin-left: 25vw;
}

.selfie {
    height: 50vw;
    width: 50vw;
}