.foot {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
}

.foto-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}