<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="width: 100vw; height: 100vh; background: var(--ion-color-primary);">
                <div class="login-header" (click)="siguiente()">
                    <img src="./assets/img/logo.png" />
                    <h2>{{'LOGIN' | translate}}</h2>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%;">
                <div style="text-align: left; margin-top: 3rem;">
                    <h2 style="margin-left: 4rem; color: var(--ion-color-primar)">Nombre</h2>
                    <ion-input [(ngModel)]="nombre" name="nombre" class="margen" type="text" placeholder="Juan Perez"></ion-input>
                </div>
                <ion-button [disabled]="!nombre" (click)="onClick()" expand="block" fill="primary" shape="round" (click)="siguiente()" style="margin-bottom: 2rem;">
                    Click me
                </ion-button>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%;">

            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<!-- <div padding>
        <ion-list lines="none">
            <ion-item>
                <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">{{'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>

            </ion-item>
        </ion-list>
        <div padding>
            <ion-button color="primary" expand="block" (click)="login()">{{'LOGIN' | translate }}</ion-button>
            <ion-button color="medium" expand="block" fill="clear" slot="end" (click)="reset()">
                {{'FORGOT' | translate }}
            </ion-button>
        </div>
    </div> -->