<ion-content>
    <ion-slides [options]="slideOpts">


        <ion-slide>
            <div style="width: 100vw; height: 100vh;">
                <ion-item style="float: left;" lines="none" (click)="regresar()">
                    <ion-icon color="primary" slot="start" name="arrow-back"></ion-icon>
                </ion-item>
                <div style="text-align: left; margin-top: 3rem;">
                    <h2 style="margin-left: 4rem; color: var(--ion-color-primary)">SMS Validación</h2>
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="2">
                                <ion-input [(ngModel)]="otp[0]" name="primer" tabindex="1" (keyup)="moveFocus(b, 0)" type="text" placeholder="0" minlength="1" maxlength="1"></ion-input>
                            </ion-col>
                            <ion-col size="2">
                                <ion-input [(ngModel)]="otp[1]" name="segundo" tabindex="2" (keyup)="moveFocus(c, 1)" type="text" #b placeholder="0" minlength="1" maxlength="1"></ion-input>
                            </ion-col>
                            <ion-col size="2">
                                <ion-input [(ngModel)]="otp[2]" name="tercero" tabindex="3" (keyup)="moveFocus(d, 2)" type="text" #c placeholder="0" minlength="1" maxlength="1"></ion-input>
                            </ion-col>
                            <ion-col size="2">
                                <ion-input [(ngModel)]="otp[3]" name="cuarto" tabindex="4" (keyup)="moveFocus(e, 3)" type="text" #d placeholder="0" minlength="1" maxlength="1"></ion-input>
                            </ion-col>
                            <ion-col size="2">
                                <ion-input [(ngModel)]="otp[4]" name="quinto" tabindex="5" (keyup)="moveFocus(f, 4)" type="text" #e placeholder="0" minlength="1" maxlength="1"></ion-input>
                            </ion-col>
                            <ion-col size="2">
                                <ion-input [(ngModel)]="otp[5]" name="sexto" tabindex="6" type="text" #f (keyup)="enableOtpButton()" placeholder="0" minlength="1" maxlength="1"></ion-input>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-item lines="none" (click)="sendCode()">
                        <ion-label slot="end" color="primary">reenviar SMS</ion-label>
                    </ion-item>
                </div>
                <ion-button class="margen foot" (click)="validarOTP()" [disabled]="!otpReady" expand="block" color="primary" shape="round">
                    Validar
                </ion-button>
            </div>
        </ion-slide>


        <ion-slide>
            <div style="width: 100vw; height: 100vh; background: var(--ion-color-primary);">
                <div class="login-header" (click)="siguiente()">
                    <img src="./assets/img/logo.png" />
                    <h2>{{'LOGIN' | translate}}</h2>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100vw; height: 100vh;">
                <ion-item style="float: left;" lines="none" (click)="regresar()">
                    <ion-icon color="primary" slot="start" name="arrow-back"></ion-icon>
                </ion-item>
                <div style="text-align: left; margin-top: 3rem;">
                    <h2 style="margin-left: 4rem; color: var(--ion-color-primary)">Nombre</h2>
                    <ion-input [(ngModel)]="nombre" name="nombre" class="margen" type="text" placeholder="Juan Perez"></ion-input>
                </div>
                <ion-button class="margen foot" [disabled]="!nombre" (click)="siguiente()" expand="block" color="primary" shape="round">
                    Siguiente
                </ion-button>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100vw; height: 100vh;">
                <ion-item style="float: left;" lines="none" (click)="regresar()">
                    <ion-icon color="primary" slot="start" name="arrow-back"></ion-icon>
                </ion-item>
                <div *ngIf="imagenPreview" class="foto-container">
                    <ion-img style="height: 85%; margin-top: 1rem" [src]="imagenPreview"></ion-img>
                </div>
                <ion-item lines="none" *ngIf="!imagenPreview" style="text-align: center; margin-top: 4rem;">
                    <ion-label color="medium" class="ion-text-wrap">Por favor toma una selfie para tu foto de perfil</ion-label>
                </ion-item>
                <ng-container *ngIf="!imagenPreview; else fotoListaTemp">
                    <ion-button class="margen foot" (click)="siguiente()" expand="block" color="primary" shape="round">
                        Siguiente
                    </ion-button>
                </ng-container>
                <ng-template #fotoListaTemp>
                    <ion-button class="margen foot" (click)="activarCamara()" expand="block" color="primary" shape="round">
                        Tomar foto
                    </ion-button>
                </ng-template>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100vw; height: 100vh;">
                <ion-item style="float: left;" lines="none" (click)="regresar()">
                    <ion-icon color="primary" slot="start" name="arrow-back"></ion-icon>
                </ion-item>
                <div style="text-align: left; margin-top: 3rem;">
                    <h2 style="margin-left: 4rem; color: var(--ion-color-primary)">Número de celular</h2>
                    <ion-input [(ngModel)]="celular" name="celular" class="margen" type="tel" placeholder="283 131 1841" minlength="10"></ion-input>
                </div>
                <ion-button class="margen foot" (click)="sendCode()" [disabled]="!celular" expand="block" color="primary" shape="round">
                    Enviar código de verificación
                </ion-button>
            </div>
        </ion-slide>



    </ion-slides>
</ion-content>

<!-- <div padding>
        <ion-list lines="none">
            <ion-item>
                <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">{{'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>

            </ion-item>
        </ion-list>
        <div padding>
            <ion-button color="primary" expand="block" (click)="login()">{{'LOGIN' | translate }}</ion-button>
            <ion-button color="medium" expand="block" fill="clear" slot="end" (click)="reset()">
                {{'FORGOT' | translate }}
            </ion-button>
        </div>
    </div> -->