.foot {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
}

.foto-container {
    height: auto;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20%;
    margin-left: 25%;
}

.selfie {
    height: auto;
    width: 50%;
}