<ion-content>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <div style="width: 100vw; height: 100vh; background: var(--ion-color-primary);">
                <div class="login-header" (click)="siguiente()">
                    <img src="./assets/img/logo.png" />
                    <h2>{{'LOGIN' | translate}}</h2>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100vw; height: 100vh;">
                <div style="text-align: left; margin-top: 3rem;">
                    <h2 style="margin-left: 4rem; color: var(--ion-color-primary)">Nombre</h2>
                    <ion-input [(ngModel)]="nombre" name="nombre" class="margen" type="text" placeholder="Juan Perez"></ion-input>
                </div>
                <ion-button class="margen foot" (click)="siguiente()" [disabled]="!nombre" (click)="siguiente()" expand="block" color="primary" shape="round">
                    Siguiente
                </ion-button>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100%; height: 100%;">
                <div *ngIf="imagenPreview" class="foto-container">
                    <ion-img style="height: 85%; margin-top: 1rem" [src]="imagenPreview"></ion-img>
                </div>
                <ion-item lines="none" *ngIf="!imagenPreview" style="text-align: center; margin-top: 4rem;">
                    <ion-label color="medium" class="ion-text-wrap">Por favor toma una selfie para tu foto de perfil</ion-label>
                </ion-item>
                <ng-container *ngIf="imagenPreview; else fotoListaTemp">
                    <ion-button class="margen foot" (click)="siguiente()" (click)="siguiente()" expand="block" color="primary" shape="round">
                        Siguiente
                    </ion-button>
                </ng-container>
                <ng-template #fotoListaTemp>
                    <ion-button class="margen foot" (click)="siguiente()" (click)="activarCamara()" expand="block" color="primary" shape="round">
                        Tomar foto
                    </ion-button>
                </ng-template>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="width: 100vw; height: 100vh;">
                <div style="text-align: left; margin-top: 3rem;">
                    <h2 style="margin-left: 4rem; color: var(--ion-color-primary)">Número de celular</h2>
                    <ion-input [(ngModel)]="celular" name="celular" class="margen" type="tel" placeholder="283 131 1841"></ion-input>
                </div>
                <ion-button class="margen foot" (click)="siguiente()" [disabled]="!celular" (click)="siguiente()" expand="block" color="primary" shape="round">
                    Siguiente
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<!-- <div padding>
        <ion-list lines="none">
            <ion-item>
                <ion-label position="stacked">{{'EMAIL_ADDRESS' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">{{'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="password"></ion-input>

            </ion-item>
        </ion-list>
        <div padding>
            <ion-button color="primary" expand="block" (click)="login()">{{'LOGIN' | translate }}</ion-button>
            <ion-button color="medium" expand="block" fill="clear" slot="end" (click)="reset()">
                {{'FORGOT' | translate }}
            </ion-button>
        </div>
    </div> -->