.foot {
    position: absolute;
    top: 95%;
    transform: translateY(-95%);
}

.foto-container {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
}

.selfie {
    height: 80px;
    width: 80px;
    margin-top: 1rem
}