<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ATAXI</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="locationinput-holder">
    <input class="locationinput" (click)="chooseOrigin()" placeholder="Donde estoy" type="text"
      value="{{origin ? origin.vicinity : '' }}">
    <input class="locationinput" (click)="chooseDestination()" placeholder="A donde voy" type="text"
      value="{{ destination ? destination.vicinity : '' }}">
  </div>

  <div id="{{ mapId }}" [ngStyle]="{height: '100%'}"></div>

  <div class="align-bottom">

    <p class="distanceText">
      <span *ngIf="distanceText!=''">Distancia: {{ distanceText }}</span>
      <span *ngIf="durationText!=''">&nbsp; Duración: {{durationText}}</span>
    </p>


 


    <ion-button expand="block" color="dark" [hidden]="destination" (click)="chooseDestination()">
      {{'RIDE_NOW' | translate}}</ion-button>
    <ion-button expand="block" color="dark" [hidden]="!destination" (click)="book()">
      {{ locateDriver == false ? 'BUSCAR TAXI':'Localizando taxi'}} <ion-spinner name="dots" color="light"
        [hidden]="!locateDriver"></ion-spinner>
    </ion-button>
  </div>
</ion-content>